.form-card {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    max-width: 500px;
    margin: 0 auto;
}

.form-card h2 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #2E8B47;
}

.form-card p {
    margin-bottom: 20px;
    color: #555;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
}

.form-group input[type="text"]:focus {
    border-color: #2E8B47;
}

.radio-box .input-field {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

.radio-box input[type="radio"] {
    accent-color: #22c55e;
    width: 18px;
    height: 18px;
}

.btn-submit {
    background-color: #2E8B47;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
}

.btn-submit:hover {
    background-color: #24673a;
}
.btn-theme-green {
    display: inline-flex;      /* bikin area klik full */
    align-items: center;
    justify-content: center;

    padding: 12px 20px;
    background-color: #2ecc71;
    color: #fff;

    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;

    transition: 0.3s ease;
    cursor: pointer;
}

.btn-theme-green:hover {
    background-color: #27ae60;
}
